numpy
pandas
scikit-learn
opencv-python
opencv-contrib-python
matplotlib
jupyter
notebook
tqdm
tensorboard

torch
torchvision
torchmetrics[detection]
accelerate
albumentations

# dev
# black[jupyter]
# isort
# mypy
# pylint
