numpy
pandas
scikit-learn
matplotlib
jupyter
notebook
tqdm
tensorboard

--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision
torchmetrics
accelerate
albumentations

# dev
# black[jupyter]
# isort
# mypy
# pylint
