numpy
pandas
scikit-learn
opencv-python
opencv-contrib-python
matplotlib
jupyter
notebook
tqdm
tensorboard

--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision
torchmetrics[detection]
accelerate
albumentations

# dev
# black[jupyter]
# isort
# mypy
# pylint
