numpy
pandas
scikit-learn
matplotlib
jupyter
notebook
tqdm
tensorboard

--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
accelerate
albumentations

# dev
# black
# isort
# mypy
# pylint
